.main-content {
  display: grid;
  /* border: 0.25em solid pink; */
  grid-template-rows: 16vh 16vh 16vh 16vh 16vh 16vh;
  grid-template-columns: 32vw 32vw 32vw;
  box-sizing: border-box;
  max-width: 99vw;
  max-height: 99vh;
  margin: 0;
}
/* Splash Page */
/* .display-content {
  border: 2px solid #fff;
  font-size: 50px;
  justify-content: center;
  align-items: center;
  height: 500px;
  margin-left: 300px;
  margin-top: 200px;
} */

h1,
h2,
h3 {
  text-align: center;
}

.page-header {
  grid-row-start: 1;
  grid-row-end: 3;
  grid-column-start: 1;
  grid-column-end: 4;
}
.navbar {
  grid-row-start: 1;
  grid-row-end: 2;
  grid-column-start: 1;
  grid-column-end: 4;
}

.page-title {
  grid-row-start: 2;
  grid-row-end: 3;
  grid-column-start: 1;
  grid-column-end: 5;
}

.app-banner {
  grid-row-start: 3;
  grid-row-end: 4;
  grid-column-start: 1;
  grid-column-end: 5;
}

/* .page-header {
  border: 2px solid black;
} */

.movie-container {
  /* border: 5px solid white; */
  grid-row-start: 3;
  grid-row-end: 6;
  grid-column-start: 1;
  grid-column-end: 2;
  height: 100%;
  width: 100%;
}

.food-container {
  /* border: 5px solid white; */
  grid-row-start: 3;
  grid-row-end: 6;
  grid-column-start: 2;
  grid-column-end: 3;
  height: 100%;
  width: 100%;
}

.activity-container {
  /* border: 5px solid white; */
  grid-row-start: 3;
  grid-row-end: 6;
  grid-column-start: 3;
  grid-column-end: 4;
  height: 100%;
  width: 100%;
}

footer {
  /* border: 5px solid white; */
  margin-top: 3em;
  grid-row-start: 6;
  grid-row-end: 7;
  grid-column-start: 1;
  grid-column-end: 4;
  text-align: right;
}
