@import url("https://fonts.googleapis.com/css2?family=Sen&display=swap");

body {
  background-color: black;
  justify-content: center;
  align-items: center;
  padding: 10px;

}

h2 {
  color: black;
  /* margin-top: 20px; */
  text-align: center;
}

.title {
  font-size: 40px;
  transition: 2s all;
  text-align: center;
  margin-bottom: 50px;
  background-color: #f3ec78;
  background-image: linear-gradient(45deg, #f3ec78, #af4261);
  background-size: auto;
  background-clip: text;
  letter-spacing: 20px;
  animation: spacing 5s ease-in-out;
}

.wrapper {
  position: absolute;
  top: 25%;
  left: 50%;
  padding-top: 100px;
  transform: translate(-50%, -50%);
  height: 160px;
  overflow: hidden;
  font-family: fantasy;
  font-size: 35px;
  line-height: 35px;
  color: white;
}
.header-content {
  font-weight: 600;
  overflow: hidden;
  height: 40px;
  padding: 0 20px;
}
.t-text {
  display: inline;
  float: left;
  margin: 0;
}
.animated-text {
  margin-top: 0;
  padding-left: 5px;
  text-align: center;
  list-style: none;
  animation: animate 5s infinite;
}
.single-text {
  line-height: 50px;
  margin: 0;
}
 /* Banner Animation */
 @keyframes spacing {
  from {letter-spacing: 0em;}
  to {letter-spacing: .5em;}
}
 /* Scrolling Words Animation */
@keyframes animate {
  0%{
    transform: translate3d(0, 0, 0);
  }
  5%, 11%,
  24% {
    transform: translate3d(0, -25%, 0);
  }
  28%,
  40% {
    transform: translate3d(0, -50%, 0);
  }
  45%,
  58% {
    transform: translate3d(0, -75%, 0);
  }
  61%,
  74% {
    transform: translate3d(0, -50%, 0);
  }
  78%,
  88% {
    transform: translate3d(0, -25%, 0);
  } 93%,
  96%,
  97% {
    transform: translate3d(0, 0, 0);
  } 100%
