@import url("https://fonts.googleapis.com/css2?family=Sen&display=swap");
h2 {
  color: black;
  text-align: center;
}

.title {
  font-size: 2em;
  transition: 3s ease-in;
  text-align: center;
  margin: .5% 0% 2% 0%;
  background-color: #f3ec78;
  background-image: linear-gradient(45deg, #c29254, #721e36);
  background-clip: text;
  letter-spacing: 1em;
  animation: spacing 5s ease-in;
}


.wrapper {
  position: relative;
  margin-top: 4%;
  margin-bottom: 2%;
  left: 50%;
  padding: 2% 2%;
  transform: translate(-50%, -50%);
  overflow: hidden;
  font-family: fantasy;
  font-size: 2em;
  color: #ffebd7;
}
.header-content {
  font-weight: 600;
  overflow: hidden;
  height: .9em;
  padding: 0 2em;
}
.t-text {
  display: inline;
  justify-content: center;
  padding-left: 40%;
  padding-top: 2%;
}
.animated-text {
  margin-top: 0;
  padding-left: 2%;
  text-align: center;
  list-style: none;
  animation: animate 5s infinite;
}
.single-text {
  line-height: .9em;
  margin: 0;
}
.reset-button, .contact, .surprise {
  background-color:  #721e36;
  color: #ffebd7;
  padding: .5em 1em;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-family: fantasy;
  font-size: .75em;
  margin-top: 9%; 
  cursor: pointer;
}
/* .surprise {
  margin-top: 1em;
  margin-left: 20em; 
} */

 /* Title Animation */
 @keyframes spacing {
  from {letter-spacing: 0em;}
  to {letter-spacing: .5em;}
}
 /* Scrolling Words Animation */
@keyframes animate {
  0%{
    transform: translate3d(0, 0, 0);
  }
  5%, 11%,
  24% {
    transform: translate3d(0, -25%, 0);
  }
  28%,
  40% {
    transform: translate3d(0, -50%, 0);
  }
  45%,
  58% {
    transform: translate3d(0, -75%, 0);
  }
  61%,
  74% {
    transform: translate3d(0, -50%, 0);
  }
  78%,
  88% {
    transform: translate3d(0, -25%, 0);
  } 93%,
  96%,
  97% {
    transform: translate3d(0, 0, 0);
  } 100%
}

