@import url("https://fonts.googleapis.com/css2?family=Sen&display=swap");
h2 {
  color: black;
  text-align: center;
}

.title {
  font-size: 40px;
  transition: 2s ease-in;
  text-align: center;
  margin-bottom: 50px;
  background-color: #f3ec78;
  background-image: linear-gradient(45deg, #c29254, #721e36);
  background-size:cover;
  background-clip: text;
  letter-spacing: 20px;
  animation: spacing 5s ease-in;
}
/* #be7f91 */
/* #86233f */

.wrapper {
  position: absolute;
  top: 25%;
  left: 50%;
  padding-top: 100px;
  transform: translate(-50%, -50%);
  height: 160px;
  overflow: hidden;
  font-family: fantasy;
  font-size: 35px;
  line-height: 35px;
  color: #ffebd7;
}
.header-content {
  font-weight: 600;
  overflow: hidden;
  height: 40px;
  padding: 0 20px;
}
.t-text {
  display: inline;
  float: left;
  margin: 0;
}
.animated-text {
  margin-top: 0;
  padding-left: 2px;
  text-align: center;
  list-style: none;
  animation: animate 5s infinite;
}
.single-text {
  line-height: 40px;
  margin: 0;
}

.reset-button, .contact {
  background-color:  #721e36;
  color: #ffebd7;
  padding: 10px 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-family: fantasy;
  font-size: 15px;
  margin: 4px 2px;
  cursor: pointer;
}
 /* Banner Animation */
 @keyframes spacing {
  from {letter-spacing: 0em;}
  to {letter-spacing: .5em;}
}
 /* Scrolling Words Animation */
@keyframes animate {
  0%{
    transform: translate3d(0, 0, 0);
  }
  5%, 11%,
  24% {
    transform: translate3d(0, -25%, 0);
  }
  28%,
  40% {
    transform: translate3d(0, -50%, 0);
  }
  45%,
  58% {
    transform: translate3d(0, -75%, 0);
  }
  61%,
  74% {
    transform: translate3d(0, -50%, 0);
  }
  78%,
  88% {
    transform: translate3d(0, -25%, 0);
  } 93%,
  96%,
  97% {
    transform: translate3d(0, 0, 0);
  } 100%
}

